.header {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    border-top: var(--border-style);
    border-bottom: var(--border-style);
}

.header .title {
    font-family: var(--serif-font);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary);
    padding-left: 24px;
    position: relative;
}

.header .title:before {
    background-size: 14px;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    top: calc(50% - 7px);
    width: 14px;
    background: url(https://www.telegraph.co.uk/etc/designs/telegraph/core/clientlibs/ui/dist/static/images/comment-speech-bubble.svg) no-repeat 50% 50%;
}

.header .sort,
.header .sortButton {
    font-family: var(--sans-serif-font);
    font-size: 0.85rem;
    color: var(--secondary);
}

.header .sortButton {
    border: 1px solid var(--dark);
    background: var(--white);
    padding: 7px 17px;
    margin-left: 10px;
    border-radius: 20px;
}

.header .sortButton:disabled {
    opacity: 0.5;
    pointer-events: none;
}

@media (min-width: 768px) {

    .header .sortButton {
        padding: 7px 20px;
    }

    .header .title {
        font-size: 1.3rem;
    }
}
