<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="static/app.css" />
		<link preload href="//db.onlinewebfonts.com/c/294629fdbf28fa0a2d3e70432b07581b?family=Austin+News+Deck+Web+Medium" rel="stylesheet" type="text/css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="static/app.bundle.js" defer></script>
	</head>
	<body>
		{{> header }}
		{{{ body }}}
	</body>
</html>
