<main class="main" id="main">
    <header class="header">
        <h1 class="title" id="headerTitle">
            0 Comments
        </h1>
        <span class="sort">
            Sort
            <button id="sortButton" class="sortButton">
                Likes
            </button>
        </span>
    </header>

    <section id="comments" class="comments">Loading comments...</span>
</main>
